<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" href=  "[% c.uri_for('/src/jquery-ui-1.8.12.custom/css/redmond/jquery-ui-1.8.12.custom.css')%]" rel="Stylesheet" />
<link type="text/css" href=  "[% c.uri_for('/src/formfu.css')%]" rel="Stylesheet" />

<script type="text/javascript" src=" [% c.uri_for('/src/jquery-ui-1.8.12.custom/js/jquery-1.5.1.min.js')%]"></script>
<script type="text/javascript" src="[% c.uri_for('/src/jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js')%]"></script>

<link type="text/css" href=  "[% c.uri_for('/src/template.css')%]" rel="Stylesheet" />
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<title>[%title%]</title>
<style>
#top_menu {
    margin: 0 0 30px 0;
}
#top_menu li {
    display: inline;
    padding: 5px;
    
    
}
#left_menu li {
    display: inline;
    padding: 5px;
    
    
}

body { 
    font : 13px;
    font-family: Arial,Helvetica,sans-serif;"
}

</style>

</head>
<body>
 <div id="body" class="redmond">
     
    
     <div class=" redmond" style="margin-top: 20px;">
        <div style="margin: 0 auto; width: 880px;  background-color: #ffffff; border: 0px solid black; ">
            <div id = "main" class ="clearfix">
                <ul id="top_menu">
                    <li class ="ui-state-default ui-corner-all" ><a href="[% c.uri_for('/home') %]">[Home]</a></li>
                    <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/reviewsite/searchBusiness')%]">[Find review]</a></li>
	                [% IF !c.user_exists %]
                    <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/user/register')%]">[Register]</a></li>
                    <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/login')%]">[Sign in]</a></li>
                    <li style="float: right;"> 
                        <div id="fb-root"></div>
                        <a href="[%c.uri_for('/login/facebook')%]""> Login with Facebook</a>
                    </li>
	                [% ELSE %]
	                
                    <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/reviewsite/searchBusiness')%]">[Write a review]</a></li>
	                <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/email/invite')%]">[Invite Friend]</a></li>
	                <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/review/show')%]">[Your Review]<a></li>
	                <li class ="ui-state-default ui-corner-all"><a href="[%c.uri_for('/logout')%]">[Sign Out]</a></li>
	               [% END %]
                </ul>

                    <div>
                        <ul id="left_menu">
                            <li ><span class="ui-icon ui-icon-heart" style="float: left"></span><span style="float: left ; margin-right:20px;"><a href="/place/show?type_id=4">Restaurants</a></span></li>
                            <li><span class="ui-icon ui-icon-heart" style="float: left"></span><span style="float: left; margin-right:20px;"><a href="/place/show?type_id=1">Hotel</a></li>
                            <li><span class="ui-icon ui-icon-heart" style="float: left"></span><span style="float: left; margin-right:20px;"><a href="/place/show?type_id=3">Shopping</a></li>
                            <li><span class="ui-icon ui-icon-heart" style="float: left"></span><span style="float: left; margin-right:20px;"><a href="/place/show?type_id=2">Nightlife</a></li>
                        </ul>
                    </div>
                 <div style="margin: 0 auto; width: 830px; background-color: #ffffff; border: 0px solid black; padding: 0 0 0 40px;">
                    [% content %]
              
                </div>
                
            
            </div>
        </div>
        <div  class="grid_11 redmond" style="margin-top: 20px;">
       
        </div>
    </div>
   <div class="grid_3 hot-sneaks" style="margin-top: 20px;">    
   </div>

</div>  

</body>
</html>


