<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<!--  <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(function(){
    $('<div id="map_google"></div>').appendTo('#map_canvas');
});
var map;
function initialize() {
  var myLatlng = new google.maps.LatLng(13.820688,100.664889);
  var myOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_google"), myOptions);
  
  //google.maps.event.addListener(map, 'click', function(event) {
   // placeMarker(event.latLng);
  //  alert(event.latLng);
    
 // });
}
  
function placeMarker(location) {
  var clickedLocation = new google.maps.LatLng(location);
  var marker = new google.maps.Marker({
      position: location, 
      map: map
  });
  
  map.setCenter(location);
}
$(document).ready(function(){
	initialize();
	var input = $("body input[name='latLng']"),
	input_lat = $("body input[name='lat']"),
	input_lng = $("body input[name='lng']");
	
	var get_position = new google.maps.LatLng();
	google.maps.event.addListener(map, 'click', function(event) {
		get_position = event.latLng;
		var get_lat = get_position.lat(),
		get_lng = get_position.lng();
		placeMarker(event.latLng);
		//alert(event.latLng);
		//input.val(event.latLng);
		input_lat.val(get_position.lat());
		input_lng.val(get_lng);
		//alert(get_lat);
		//alert(get_lng);
	});
	
});
</script>
</head>
<body>

[%form.render%]

[%status_msg%]
</body>
</html>
