<!DOCTYPE html>
<html>
<link type="text/css" href=  "[% c.uri_for('/src/template.css')%]" rel="Stylesheet" />
<head>
</head>
<body>
[% IF c.user_exists %]
    Which Business Would You Like to Review?
[%ELSE%]
    Which Business Would You Like to Read?
[%END%]
<div class="table_text">
[%form.render%]
</div>

[%IF value==1%]
[% # Add a link to add a review %]
[%WHILE (place=places.next)%]

    <table  width="820px;" class=" table_text redmond  ui-widget-content ui-corner-all" >
        <tr>
            <td><label>Business Name : [%place.placename%]</label></td>
            <td></td>
            <td></td>
        </tr>
            <td>Location : [%place.location%]</td>
            <td></td>
        <tr>
        
        </tr>
        <tr>
            <td>RATE: [% place.rate%]</td>
            <td></td>
        </tr>
        <tr>
            <td>

                [% IF c.user_exists %]
	                <a href="/reviewSite/[%place.place_id%]/writeReview">
	                    write a review
	                </a>
	                <br/>
	                <a href="/user/search?place_id=[%place.place_id%]">
                        read more>>     
                    </a>
                [%ELSE%]
	                <a href="/user/search?place_id=[%place.place_id%]">
	                    read more>>     
	                </a>
                [%END%]
           </td>
            <td></td>
        </tr>
    </table> 
[%END%]


[%ELSE%]
[% IF c.user_exists %]
<td class="formlabel">
    [% # Add a link to add a review %]
    <a href="[%c.uri_for('/reviewsite/addPlace')%]">Dont have here !ADD</a>
    </td>
[%END%]

[%END%]
</body>
</html>



