<!DOCTYPE html>
<html>
<head>
<link type="text/css" href=  "[% c.uri_for('/src/template.css')%]" rel="Stylesheet" />
</head>
<body>
[%WHILE (review = review_rs.next)%]
<label style="width: 810px; margin: 10pt auto; font-size: 12px; color: #222222;"> 
[%review.place.placename%]
</label>
</br>
<div  id="frame">
    <table border="0" class="table">
        <tr>
            <td>
                <label> 
                    Rate :
                </label>
                <div>
                [%i =0;%]
                [%WHILE i < review.rate%]
                <span class="ui-icon ui-icon-star star_icon"></span>
                    [%i = i+1%]
                [%END%]
                </div>
            </td>
            <tr>
            <td>
                <label>
                    Review:
                </label>
                    [%review.detail%]
            </td>
            </tr>
            <td>
                <a href ="/review/[%review.review_id%]/delete"><span class="ui-icon ui-icon-circle-close delete_icon" ></span></a>
                <a href ="/review/[%review.review_id%]/edit"><span class="ui-icon ui-icon-pencil"></span></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table> 
   </div>
[%END%]
</body>
</html>


